body {
  margin: 0;
  text-align: center;
  color: #40514E;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 3.125rem auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

/*16px=100%=1rem*/
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}


hr {
    border: dotted #eaf6f6 10px;
    color: #EAF6F6;
    width: 8%;
    margin: 4rem auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

p {
  line-height: 2;
}

/********************CLASSES********************/
.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #EAF6F6;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 3rem 0 1rem;
}
.middle-container {
  margin: 100px 0;
}

.intro {
  margin: auto;
  width: 30%;
}

.bottom-cloud {
  position: absolute;
  left: 550px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 650px;
  top: 50px;
}

.profile {
  margin: 2rem;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-image {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.skill-image2 {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.foot-credits {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 1rem 0;
}

.footer-link {
  margin: 1rem 2rem;
}

.contact-message {
  width: 25%;
  margin: 40px auto 60px;
}

.BUTTON_DLM {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   height: 50px;
   line-height: 50px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   width: 200px;
   font-size: 20px;
   font-weight: 100;
   padding: 0;
   background-color: #11999E;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_DLM:hover {
   border: solid #000000 1px;
   background: #30e3cb;
   background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
